#root{
  width: 100%;
}
.salvageEngineer{
  width: 100%;
  display: flex;
  align-items: top;
  padding-top: 40px;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/backgroundEngineer.png");
  background-size:contain;

}

.routesContainer{
  padding: 10px;
  width: 100%;
  
  
}

.loginScreen{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 0 20px black;
  background-color: beige;
  opacity: .8;
  
}

.loginBoxes{
  justify-self: center;
  
}

.accountManagement{
  
  padding : 20px;    
  box-shadow: 0 0 20px black;
  background-color: beige;
  opacity: .8;
}

.deleteAccount{
  padding: 10px;
  box-shadow: 0 0 20px black;
  opacity: 1;
}

.changePassword{
  padding: 10px;
  box-shadow: 0 0 20px black;
  opacity: 1;
}



.AdminTableLine{
  padding :10px;
  border-radius: 100px;
  margin: 5px;
  box-shadow: 0 0 10px whitesmoke;
}
.tableInfo{
  padding: 10px;
}
