#root{
  width: 100%;
}
.salvageEngineer{
  width: 100%;
  display: flex;
  align-items: top;
  padding-top: 40px;
  justify-content: center;
  height: 100vh;
   
  background-size:cover;

}

.routesContainer{
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  
  
}
.loginContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;  
  justify-content: start;
  
  
}

.loginScreen{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 0 20px black;
  background-color: beige;
  opacity: .8;
  max-width: 400px;
  min-width: 350px;
  align-self: center;
  justify-self: center;
  
  
  
}

.loginBoxes{
  justify-self: center;
  
  
}

.modalBox{
  background-color: beige;
}

.accountManagement{
  
  padding : 20px;    
  box-shadow: 0 0 20px black;
  background-color: beige;
  opacity: .8;
}

.deleteAccount{
  padding: 10px;
  box-shadow: 0 0 20px black;
  opacity: 1;
}

.changePassword{
  padding: 10px;
  box-shadow: 0 0 20px black;
  opacity: 1;
}



.AdminTableLine{
  padding :10px;
  border-radius: 100px;
  margin: 5px;
  box-shadow: 0 0 10px whitesmoke;
}
.tableInfo{
  padding: 10px;
}

.gameScreen{
  height: 90vh;
  width: 90vw;  
  background-size: cover;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex; 
    
  align-items: center;
}
.invItems{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 10px  
}

.partsStorage{
  border-color: black;
  background-color: gold;
  border-radius: 5%;
  margin: 5px;
}
.partsEquipped{
    border-color: black;
    background-color:green;
    border-radius: 5%;
    margin: 5px;
    color: white;
  }
  .storage{
    border-color: black;
      background-color: rgb(126, 78, 6);
      border-radius: 5%;
      margin: 5px;
      color: (126,78,6);
  }

.cellValue{
  text-align: right;
}

.statTable{
  color: #00FF00;
    /* Green text */
    background-color: #000000;
    /* Black background */
    font-family: 'Courier New', Courier, monospace;
    /* Monospace font */
    font-size: 1.8vh;
    /* Adjust size as needed */
    text-shadow: 0 0 10px #00FF00;
    /* Glow effect */
    padding: 10px;
    border: 2px solid #00FF00;
    /* Optional: Add border */
    display: inline-block;
    
}
.statTableFont{color: #00FF00;
  /* Green text */
  background-color: #000000;
  /* Black background */
  font-family: 'Courier New', Courier, monospace;
  /* Monospace font */
  font-size: 2vh;
  /* Adjust size as needed */
  text-shadow: 0 0 10px #00FF00;
  /* Glow effect */

}

.invControlBox{
  border: 2px solid yellow;
  width: min-content;
  color: white
}
.controls{
  display: flex;
}
